.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    z-index: 100;
}

.loading_text{
    color: white;
    font-size: 23px;
}

.sp {
    width: 96px;
    height: 96px;
    clear: both;
}

.sp-hydrogen {
    position: relative;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 50%;
    -webkit-animation: spHydro 0.6s infinite linear;
    animation: spHydro 0.6s infinite linear;
}

.sp-hydrogen:before,
.sp-hydrogen:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.sp-hydrogen:before {
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.sp-hydrogen:after {
    top: -1px;
    left: -1px;
}

@-webkit-keyframes spHydro {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spHydro {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}